@import url("https://fonts.googleapis.com/css2?family=Mulish&family=Nunito&family=Playfair+Display&family=Rubik&display=swap");

.nunito {
  font-family: "Nunito", sans-serif;
}

.pfdisplay {
  font-family: "Playfair Display", serif;
}

.logincss {
  z-index: 1;
  position: absolute;
  background-color: #393939 !important;
  color: #ffcd61 !important;
  font-weight: bold !important;
  border: none !important;
  margin-left: 10vw;
  margin-top: 51vh;
  width: 27%;
  padding-top: 3vh !important;
  padding-bottom: 3vh !important;
}

.textcss {
  z-index: 5;
  position: absolute;
  color: white;
  font-size: 8vh;
  margin-left: 10vw;
  padding-top: 6%;
  max-width: 43%;
  font-family: "Playfair Display", serif;
}

.h4css {
  z-index: 5;
  position: absolute;
  color: white;
  margin-left: 10%;
  margin-top: 43vh;
  font-size: 3vh;
  font-family: "Nunito", sans-serif;
}

.layer {
  position: absolute;
  background-color: black;
  opacity: 0.5;
  margin: 0%;
  width: 100vw;
  height: 100vh;
}

.ecl1 {
  position: absolute;
  margin-top: 14vh;
  right: 665px;
}

.ecl2 {
  position: absolute;
  right: 665px;
  margin-top: 84vh;
}

.line1 {
  position: absolute;
  margin-top: 15vh;
  height: 70vh;
  right: 675px;
}
