@import "node_modules/bootstrap/scss/bootstrap.scss";

.bg-home {
  background-image: url("./img/bg-home.png");
  background-size: 100% 100%;
  width: 100%;
  height: 600px;
}

.h1Upper {
  color: white;
  padding-left: 6%;
  padding-top: 3%;
  font-size: 4vw;
}

.h1Lower {
  color: black;
  margin-top: 6%;
  margin-left: 8%;
}

.h5css {
  color: white;
  padding-left: 6%;
  padding-top: 4%;
}

.rectangle {
  width: 32px;
  height: 2px;
  background-color: white;
  margin-left: 6%;
  margin-top: 2%;
}

.flex {
  width: 35vw;
  display: inline-flex;
  flex-wrap: wrap;
  margin-left: 6%;
  margin-top: 3%;
  gap: 2vw;
}

.flexvehicle {
  width: 100vw;
  display: inline-flex;
  flex-wrap: wrap;
  margin-left: 8%;
  margin-top: 3%;
  gap: 2vw;
}
