@import "node_modules/bootstrap/scss/bootstrap.scss";

.bg-home {
  background-image: url("./img/bg-home.png");
  background-size: 100% 100%;
  width: 100%;
  height: 600px;
}

.h1Upper {
  color: white;
  padding-left: 6%;
  padding-top: 3%;
  font-size: 4vw;
}

.h1Lower {
  color: black;
  margin-top: 6%;
  margin-left: 8%;
}

.h5css {
  color: white;
  padding-left: 6%;
  padding-top: 4%;
}

.rectangle {
  width: 32px;
  height: 2px;
  background-color: white;
  margin-left: 6%;
  margin-top: 2%;
}

.flex {
  width: 35vw;
  display: inline-flex;
  flex-wrap: wrap;
  margin-left: 6%;
  margin-top: 3%;
  gap: 2vw;
}

.flexvehicle {
  width: 100vw;
  display: inline-flex;
  flex-wrap: wrap;
  margin-left: 8%;
  margin-top: 3%;
  gap: 2vw;
}

.testiflex {
  position: relative;
  width: 120%;
  display: flex;
  flex-wrap: wrap;
  margin-left: 8%;
  margin-top: 6%;
  margin-right: 8%;
}

.flexcss {
  width: 30%;
}

.testi {
  margin-top: 10%;
  margin-bottom: 10%;
}

.testiImg {
  width: 70%;
}

// .star {
//   margin-top: 28% !important;
// }

// .starimg {
//   width: 7%;
//   height: 7%;
//   margin-right: 2%;
// }

// .h2testimonials {
//   margin-top: 5%;
// }

// .divimg {
//   position: relative;
//   height: 50vh;
// }

// .testiPhoto {
//   position: absolute;
//   margin-top: 19vh;
//   margin-left: 15vw;
//   width: 22vw;
//   height: 67vh;
// }

// .divrect {
//   margin-top: 30vh;
//   width: 100%;
//   background-color: #848484;
// }

.footerdiv1 {
  width: 100%;
  display: inline-flex;
  flex-wrap: wrap;
  background-color: #f9f9fb;
  padding-top: 3%;
  padding-left: 6%;
  padding-bottom: 3%;
  gap: 3vw;
}

p {
  font-size: small;
  padding-top: 5%;
  margin-right: 5%;
  color: #848484;
}

li {
  color: #848484;
  list-style-type: none;
  padding-top: 3%;
}

.footerdiv2 {
  width: 23vw;
  margin-right: 5vw;
}

.footerdiv3 {
  text-align: left;
  margin-right: 4vw;
}

h6 {
  padding-top: 2%;
}

.footerdiv4 {
  text-align: center;
}

.imgspace {
  margin: 1%;
  margin-bottom: 5vh;
}

.footline {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 80%;
}
