.card {
  position: relative;
  height: 50vh;
}

.card:hover {
  transform: scale(1.05);
}

.img {
  display: block;
  margin: auto;
  width: 18vw;
  height: 48vh;
  border-radius: 8px;
}

.desc {
  bottom: 0%;
  position: absolute;
  width: 45%;
  background-color: white;
  border-radius: 0px 6px 0px 0px;
}

.h4card {
  margin-top: 5%;
  margin-bottom: 0%;
}

.h5card {
  font-size: medium;
  color: #80918e;
}

.positiontxt1 {
  font-size: large;
}
