$color: #ffcd61;

.btnNav {
  margin-left: 10px;
  border: 2px solid $color;
  border-radius: 8px;
}

.onMouse {
  background-color: #ffcd61;
}

.choosen {
  color: black !important;
  margin-top: 15px;
  margin-right: 30px;
}

.unChoosen {
  color: gray;
  margin-top: 15px;
  margin-right: 30px;
}

.unChoosen:hover {
  color: black;
}

.hvr {
  color: black;
  margin-top: 14px;
  margin-right: 30px;
}

.hvr:hover {
  color: black;
}

.circle {
  margin-top: 0%;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: azure;
}

.email {
  margin-top: 7%;
  margin-right: 2vw;
  margin-left: 6vw;
  width: 35px;
  height: 30px;
}

.eclEmail {
  margin-top: -20px;
  margin-left: -10px;
  width: 18px;
}
