.price {
  margin-top: 40px;
  margin-left: 40%;
  font-size: 30px;
  font-weight: bold;
}

.divImage {
  margin-top: 0%;
  margin-left: 10%;
}

.bottomImg {
  width: 20%;
  border-radius: 10px;
  margin-left: 3%;
}

.rarrow {
  margin-top: 4%;
  margin-right: 10%;
  margin-left: -40% !important;
}

.larrow {
  margin-top: 4%;
  margin-right: -10% !important;
  margin-left: 8%;
}

.btn1detail {
  font-size: large;
  border-radius: 10px;
  border: none;
  padding: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #393939;
  color: #ffcd61;
  margin-right: 60px;
  font-weight: bold;
  width: 350px;
}

.btn2detail {
  font-size: large;
  border-radius: 10px;
  border: none;
  padding: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #ffcd61;
  font-weight: bold;
  margin-right: 60px;
  width: 350px;
}

.btn3detail {
  font-size: large;
  border-radius: 10px;
  margin-top: 20px;
  border: none;
  padding: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #393939;
  color: #ffcd61;
  font-weight: bold;
  width: 205px;
}
