.bghome {
  background-color: #afb0b9;
  opacity: 0.6;
  color: black;
  width: 15vw;
  text-align: left;
  padding-left: 2vw;
}

.dropdown-toggle::after {
  display: none !important;
}

.iconhome {
  margin-left: 5vw;
}
