.bghome {
  background-color: #afb0b9 !important;
  opacity: 0.6;
  color: black !important;
  width: 200px;
  text-align: left !important;
  padding-left: 2vw !important;
}

.dropdown-toggle::after {
  display: none !important;
}

.iconhome {
  position: absolute;
  right: 10%;
  top: 40%;
}

.linkto {
  text-decoration: none;
  color: white;
}

.linkto :hover {
  text-decoration: none;
  color: white;
}

.act :active {
  background-color: darkgray;
}
