.maincss {
  background-image: url("./img/bg-register.png");
  background-size: 100% 100%;
  width: 100%;
  height: 700px;
}

.layer {
  position: absolute;
  background-color: black;
  opacity: 0.5;
  margin: 0%;
  width: 100%;
  height: 100%;
}

.formcss {
  position: absolute;
  margin-left: 60%;
  padding-top: 15%;
}

::placeholder {
  font-size: larger;
  color: white;
}

input {
  width: 80%;
  opacity: 0.8;
  margin-top: 5vh !important;
  color: white;
  padding: 4%;
  padding-right: 12vw;
  border: none;
  border-radius: 6px;
  background-color: #dadada47;
}

input[type="submit"] {
  width: 80%;
  opacity: 1;
  background-color: #ffcd61;
  color: black;
  font-weight: bold;
  padding-left: 30%;
}
