.maincss {
  background-image: url("./img/bg-auth.png");
  background-size: 100% 100%;
  width: 100%;
  height: 100vh;
}

.formcss {
  position: absolute;
  margin-left: 60%;
  padding-top: 8%;
}

.inputform {
  z-index: 5;
  width: 80%;
  margin-top: 4vh !important;
  color: white;
  padding: 3.5%;
  height: 10vh;
  width: 25vw;
  border: none;
  border-radius: 6px;
  background-color: #dadada47;
}

.inputformReg {
  z-index: 5;
  width: 80%;
  margin-top: 1vh !important;
  color: white;
  padding: 4%;
  height: 10vh;
  width: 25vw;
  border: none;
  border-radius: 6px;
  background-color: #dadada47;
}

.inputformReg::placeholder {
  font-size: larger;
  color: white;
}

.inputform::placeholder {
  font-size: larger;
  color: white;
}

.submitreg {
  background-color: #ffcd61;
  color: black;
  font-weight: bold;
  text-align: center;
}

.submitlog {
  width: 100%;
  background-color: #ffcd61;
  color: black;
  font-weight: bold;
  text-align: center;
}

.buttonGoogle {
  background-color: white;
  color: black;
  font-weight: bold;
}

.gpng {
  position: absolute;
  z-index: 5 !important;
  margin-top: 8.4%;
  margin-left: 5vw;
  width: 4.5%;
}

.gpngLog {
  position: absolute;
  z-index: 5 !important;
  margin-top: 13.5%;
  margin-left: 5vw;
  width: 7%;
}
